@tailwind base;
@tailwind components;
@tailwind utilities;
.pers{
  background-image: url("/Images/Yacht 1821.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}
.hero-bg{
  background-image: url("/Images/ZIMO Pro.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}
@font-face {
  font-family:Lato Blak;
  src: url("../public/Font/Lato-Black.woff");
}
.lato-black { 
  font-family: 'Lato Blak';
}
@font-face {
  font-family:Lato-Light;
  src: url("../public/Font/Lato-Light.woff");
}
.lato-light { 
  font-family: 'Lato Light';
}